.content{
    height: max-content;
    background: var(--primary);
    background: linear-gradient(145deg, var(--primary) 0%, var(--secondary) 100%);
}

.text{
    text-align: center;
    color: white;
}

.ctaB{
    width: 250px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1%;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    color: white;
}

.ctaB:hover{
    background-color: var(--primary);
    color: white;
}

.ctaBM{
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1%;
    padding: 15px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    color: white;
}

.ctaBM:hover{
    background-color: var(--primary);
    color: white;
}

.gridItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.gridItemM{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hr{
    display: block;
    width: 98%;
    border: 1px solid white;
}