.root{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.stt{
    color: white;
    background-color: black;
}

.stt:hover{
    color: black;
    background-color: white;
}

.container{
    flex-grow: 1;
}