.heading{
    color: var(--primary);
    text-align: center;
}

.span{
    color: var(--primary);
}

.button{
    display: block;
    margin: 15px auto;
    color: white;
    background-color: var(--primary);
    border-radius: 15px;
    border: 1px solid white;
    padding: 15px;
    font-size: large;
    width: 150px;
}

.button:hover{
    cursor: pointer;
}

.card{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid var(--primary);
    border-radius: 30px;
    box-shadow: 10px 10px 30px var(--primary);
    width: 80%;
    color: white;
    background: linear-gradient(145deg, var(--primary) 0%, var(--secondary) 100%);
}

.card:hover{
    box-shadow: 10px 10px 30px var(--shadow2);
}

.icon{
    display: block;
    margin: 0px auto;
    margin-top: -30px;
    border: 2px solid var(--primary);
    background-color: white;
    border-radius: 30px;
    width: max-content;
    padding: 2%;
}

.title{
    color: white;
}

.item h4, .itemE h4{
    color: white;
}

.desc{
    margin: 3%;
    text-align: left;
    height: 200px;
    overflow: hidden;
}

.desc2{
    margin: 3%;
    text-align: left;
    height: 200px;
    overflow: hidden;
}

.descE{
    margin: 3%;
    text-align: left;
    height: max-content;
    overflow: hidden;
}
